GM_env_raster_masked_bm.tif
GM_env_raster_masked_bm_scale.tif
GM_env_raster_masked_scale_bm.tif
GM_env_raster_masked_scale_bm_nwl.tif
GM_env_raster_masked_scaled.tif
GM_predict_gap.tif
GM_predict_gap_bm.tif
GM_predict_tot.tif
GM_predict_tot_bm.tif
GM_predict_tot_gap_pse.tif
GM_predict_tot_gap_se.tif
GM_predict_tot_pse.tif
GM_predict_tot_se.tif
TN_env_raster_masked_bm.tif
TN_env_raster_masked_bm_scale.tif
TN_env_raster_masked_scale_bm.tif
TN_env_raster_masked_scale_bm_nwl.tif
TN_env_raster_masked_scaled.tif
TN_predict_gap.tif
TN_predict_gap_bm.tif
TN_predict_gap_bm_w_aspect.tif
TN_predict_tot.tif
TN_predict_tot_bm.tif
TN_predict_tot_gap_pse.tif
TN_predict_tot_gap_se.tif
TN_predict_tot_pse.tif
TN_predict_tot_se.tif
c_22_23.xlsx
c_22_23_distvsmat.xlsx
c_env_sites_scale_GM.xlsx
c_env_sites_scale_GM_gap.xlsx
c_env_sites_scale_GT.xlsx
c_env_sites_scale_GT_gap.xlsx
c_env_sites_scale_TN.xlsx
c_env_sites_scale_TN_gap.xlsx
c_m2_site.xlsx
carbon_data_2023_scfill.xlsx
env_sites_final.xlsx
